*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;

}
body{
    background-color: white;
    
}
.card:focus {
    outline:none !important;
}
p, h1 ,h2, h3{
font-family: 'Mulish', sans-serif !important;
}
/* .logo_allingg{
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: yellow;
} 
.logo_allingg .item{
    margin: auto auto;
} */


.top_head{
    background: #FFC100;
    height: 42px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sce_head{
   background-color: white;
    height: 42px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
/* .sce_head .dropdown-toggle {
    color: #FFC100 !important;
    justify-content: center;
    margin: auto 0 !important ;
} */
.sce_head p a{
   text-decoration: none !important;
   color: #504F4F;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
    
}
.sce_head .dropdown p{
    text-decoration: none !important;
    color: #504F4F;
     font-size: 15px;
     font-weight: 600;
     font-family: 'Mulish', sans-serif;
}

/* header start */
header{
    background-color: #061E34;
    padding-bottom: 100px ;
    
}
.nav_back_color{
    background-color: transparent !important;
}
/* nav start */


.navbar-nav li a{
    color:white !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    font-family: 'Mulish', sans-serif;
}
.dropdown-menu{
    background-color: #F6F6F6 !important;
    justify-content: center !important;
    text-align: center !important;
    color: #504F4F !important;
}
.dropdown-menu li a{
    color: #ddd5d5 !important;
}
.dropdown-menu li:hover {
    color: #d1b9b9 !important;
    border-left: 5px solid red !important;
}
.dropdown-menu li a:hover {
   color: black !important;
}
/* .navbar-brand img{
    height: 51px !important;
    width: 162px !important;
} */
.carousel-indicators button {
	height: 12px !important;
	width: 12px !important;
	border-radius: 50% !important;
    position: relative !important;
}
.carousel-indicators{
   
    position: relative;
    margin-left: -400px !important;
    margin-top: 50px !important;
}
.carousel-inner h1{
    font-size: 50px !important;
    font-weight: bold;
}
.carousel-inner p{
    font-size: 15px !important;
    font-weight: 400 !important ;

}
.carousel-inner button{
    font-size: 16px !important;
    font-weight: bold !important ;
    padding: 10px 30px !important;
    background-color: #0097A9;
    border: none !important;
    border-radius: 10px ;
    color: white !important;
}
.flex_div p{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
}
.text_s u{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
}
header .text_part{
    margin-top: 150px !important;
}
header .back_img{
    background-image: url(../img/Frame.png);
    height: 450px !important;
    width: 400px !important ;
    padding-bottom: -150px !important;
    background-size: cover;
}
.back_img{
    margin-right: -100px;
    width: 100% !important;

}
.person_img img{
    margin-left: -400px;
    margin-top: -150px ;
    height: 650px;
    width: 650px !important;
    background-size: cover !important;
    position: absolute ;

}

/* product_sec strat */
.product_sec .box_saddow{
   height: 580px;
   width: auto !important;
   background-color: #F6F6F6;
   position:relative !important;
   margin-top: -40px !important;
   margin-left: 30px !important;
    justify-content: center !important;
    
}
.box_product .col{
    margin-top: -60px !important;
   
    /* margin-left: 50px !important; */
 
    
}
.product_sec button{
    padding: 10px 50px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: #00B67A;
    background-color: #ffffff;
    margin-bottom: 30px;
    border: 1px solid #00B67A;
    transition: 0.5s;
    /* background-color: white; */
    font-family: 'Mulish', sans-serif;
}
.aro{
    margin-left: -10px;
}
.product_sec button:hover {
    background-color: #00B67A;
    color: #ffffff;
    margin-bottom: 30px;
    border: 1px solid #ffffff;
    /* background-color: white; */
}
.product_sec h5{
    font-size: 22px !important;
    font-weight: bold !important;
    color: #061E34;
    font-family: 'Mulish', sans-serif;
    
}
.product_sec h1{
    font-size: 30px !important;
    font-weight: bold !important;
    color: #061E34;
    font-family: 'Mulish', sans-serif !important;
    
}
.product_sec p{
    font-size: 15px !important;
    font-weight: 400 !important;
    color: #061E34;
    font-family: 'Mulish', sans-serif !important;
}
 /* prouuct_mobo start */
 .product_sec_mobo button{
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: #00B67A;
    background-color: #ffffff;
    margin-bottom: 30px;
    border: 1px solid #00B67A;
    transition: 0.5s;
    /* background-color: white; */
}
.aro{
    margin-left: -10px;
}
.product_sec_mobo button:hover {
    background-color: #00B67A;
    color: #ffffff !important;
    margin-bottom: 30px;
     border: 1px solid #ffffff !important;
    /* background-color: white; */
}

.product_sec_mobo h5{
    font-size: 16px !important;
    font-weight: bold !important;
    color: #061E34;
    
}
.product_sec_mobo h1{
    font-size: 26px !important;
    font-weight: bolder !important;
    color: #061E34;
}
.product_sec_mobo p{
    font-size: 10px !important;
    font-weight: bold !important;
    color: #061E34;
}
.arrow_img_product img{
    height: 20px !important;
    width: 20px !important;
    padding-top:5px !important;
}
.arrow_img_product .text_b p{
 color: #00B67A !important;
 font-size: 16px;
 font-weight: bold ;
 padding-top: 5px !important;
}
 a{
    text-decoration: none !important ;
}
.aro1{
    margin-left: -10px !important;
}
.product_sec_mobo{
    background-color: #E5E5E5;
}
.product_sec_mobo{
    display: none;
}


/* all_product_desktop_veiw */
 .img_box1 img{
    padding: 20px !important;
    background-color: #F6F6F6;
    border-radius: 50% !important;
}
.shop_all_product1{
    background-color: white;
    padding-top: 50px;

}
.adjust_all_P{
    justify-content: space-between !important;
}
.shop_all_product1 h1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif !important;
    color: #061E34 !important;

}
.shop_all_product1 p{
    font-size: 15px;
    font-weight:400;
    padding-top: 15px;
    color: #061E34 !important;
}
.fststbox{
    padding-top: 0px !important;
}
.all_proud{
    padding-bottom: 50px !important;
}
.all_pro_desk{
    background-color: white;
}
.all_pro_desk1 p{
    font-size: 20px;
    font-weight:600 !important;
    padding-top: 15px ;
    padding-bottom: 25px;
}
.all_proud{
    padding-top: 30px;
    padding-bottom: 30px;
}
.all_proud button {
    padding: 20px 100px;
    background-color: white;
    color:  #00B67A !important;
    border: 1px solid #00B67A;
    transition: 0.5s;
    font-size: 12px;
    border-radius: 10px;
}

.all_proud button:hover {
   
    background-color:#00B67A ;
    color:  white !important;
    border: 1px solid white;
}
.img_box2 img{
    padding: 30px !important;
    background-color: #b3a9a9;
    border-radius: 50% !important;
    overflow: hidden !important;
}


.all_product_mobo_view{
    display: none;
    padding-top: -30px !important;
}
.all_proud_mobo{
    padding-top: 30px;
    padding-bottom: 30px;
}
.all_proud_mobo button{
    padding: 15px 50px;
    background-color: white;
    color:  #00B67A !important;
    border: 1px solid #00B67A;
    transition: 0.5s;
    font-size: 12px;
    border-radius: 10px;
}

.all_proud_mobo button:hover {
    padding: 15px 50px ;
    background-color:#00B67A ;
    color:  white !important;
    border: 1px solid white;
}

 /* why should use */
 .why_should_mobo{
     display: none !important;
     padding: 50px 0 !important; 
 }
 .why_should{
     padding: 50px 0;
 }
.why_use_buttn button{
    padding: 10px 30px;
    background-color: white;
    color:  #00B67A;
    border: 1px solid #00B67A;
    transition: 0.5s;
    font-size: 12px;
    border-radius: 10px;
}
.why_use_buttn button:hover {
    padding: 10px 30px;
    background-color:#00B67A ;
    color:  white;
    border: 1px solid white;
}
.inner_text h1{
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    font-family: 'Mulish', sans-serif !important;
}
.inner_text h2{
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
    font-family: 'Mulish', sans-serif !important;
}
.inner_text p{
    font-size: 15px;
    padding-top: 15px;
    font-weight: 400;
}
.adjust_img_use{
    margin-top: 180px ;
    margin-left:-30px;
    position: absolute;
    z-index: 1;
}

/* free_rec strat */
.free_rec{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.free_rec_buttn button{
    padding: 10px 30px;
    background-color: white;
    color:  red;
    border: 1px solid red;
    transition: 0.5s;
    font-size: 12px;
    border-radius: 10px;
}
.free_rec_buttn button:hover {
    padding: 10px 30px;
    background-color:red ;
    color:  white;
    border: 1px solid white;
}
.inner_text_use h1{
    font-size: 30px;
    font-weight:800;
    padding-top: 15px;
}
.inner_text_use h2{
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}
.inner_text_use p{
    font-size: 15px;
    padding-top: 15px;
    font-weight: 400;
}
.images3 img{
    height: 480px!important;
    margin-top: -130px !important;
    /* position: absolute; */
    margin-left: 10% !important;
    width: auto;
  
    
}
.free_rec{
    padding-top: 50px ;
    margin-top:0px !important ;
    max-height: 400px !important;
  
}
/* sponcer part */
.sponcer_top{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.inner_text3 h1{
    font-size: 30px;
    font-weight: 800;
    padding-top: 15px;
    font-family: 'Mulish', sans-serif !important;
}
.inner_text3 h2{
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}
.inner_text3 p{
    font-size: 15px;
    padding-top: 15px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif !important;
}
.sopncer_logo_mob img {
    height: 54px !important;
    width: 122px !important;
}
.sponcer_mobo {
    display: none;
}
/* acco strat */
.top_part_acc{
    padding-top: 50px !important ;
    /* padding-bottom: 50px !important; */
}
.inner_text_use3 h1{
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    color: #061E34;
}
.inner_text_use3 p{
    font-size: 15px;
    padding-top: 5px;
    font-weight: 400;
    color: #061E34;
}
/* .accordion-button{
    opacity: 0 !important;
} */
.part2_acco #accordion .card{
    background-color:white!important;
    outline: none !important;
    border: 5px solid white !important;
    box-shadow: none !important;
    
}
.part2_acco #accordion .card p{
    color: #061E34 !important;
    font-size: 20px !important;
    font-weight: bold !important;
    padding: -10px !important;
   
}
.part2_acco #accordion .card button .fas{
    color: #061E34 !important;
}
.part2_acco .header-title{
    color: #061E34 !important;
}
.part2_acco .card-body{
    color: #061E34 !important;
}
.part2_acco{
    padding-bottom: 50px !important;
}
.part2_acco .card-header{
    background-color: white !important;
    /* border-bottom: 2px solid #E4E4E4 !important; */
    padding: 0px !important;
    align-items: center !important;
    justify-content: center !important;
}


/* banner_part */
.inner_text_banner h1{
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
}
.inner_text_banner p{
    font-size: 15px;
    font-weight: 400;
    padding-top: 15px;
}
.banner_button{
    /* padding-left: 150px !important; */
    justify-content: end !important;
}
.banner_button button:hover{
    
    background-color: #00B67A;
    color:  #ffffff;
    border: 1px solid #ffffff;
   
}
.banner_button button {
    padding: 10px 40px !important;
    background-color:#ffffff ;
    color:  #00B67A;
    border: 1px solid #00B67A;
    font-size: 12px;
    transition: 0.5s;
    border-radius: 10px;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}
.text_b p{
    font-size: 16px;
    font-weight: bold;
   
}


/* footer start */
footer{
    padding: 35px 0;
    background-color: #061E34;
}
footer p a{
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    color: white;
}
footer p {
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    color: white;
}
footer h3{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.back_to_top img{
    margin-top: 80px ;
    margin-left: 260px ;
}
.footer_mobo{
    padding-top: 35px;
    background-color: #061E34;
}
#accordion .card{
    background-color: #061E34;
    outline: none !important;
    border:2px solid #061E34 !important;
    color: white;
}
#accordion .card button .fas{
    color: white !important;
}
.header-title{
    color: white !important;
}
.footer_mobo {
    display: none;
    padding-bottom:35px;
}
.footer_mobo .icon_footer p a u {
    text-decoration: none !important;
    color: white !important;
    font-size: 14px;
    font-weight: 600;
}
.logo_addj{
    display: none !important;
}
.lower-footer p{
    font-size: 10px !important;
    font-weight: 400px;
    color: white;
    padding: 10px;
}
/* @media (max-width: 1200px) { */
    /* @media (min-width: 780px) and (max-width: 1200px) {
    .icon_part .right_arrow {
        display: block !important;
    }
    header .text_part{
        margin-top: 50px !important;
    }
    .carousel-inner h1{
        font-size: 5px !important;
        font-weight: bold;
    }
    .carousel-inner p{
        font-size: 13px !important;
        font-weight: 400 !important ;
    
    }
    .carousel-inner button{
        font-size: 16px !important;
        font-weight: bold !important ;
        padding: 10px 30px !important;
        background-color: #0097A9;
        border: none !important;
        border-radius: 10px ;
        color: white !important;
    }
    .flex_div p{
        font-size: 18px;
        font-weight: bold;
        font-family: 'Mulish', sans-serif;
    }
    .text_s u{
        font-size: 14px;
        font-weight: 600;
        font-family: 'Mulish', sans-serif;
    }
.Recruitment{
    font-size: 15px !important;
    color: #504F4F !important;
    font-weight: bolder;

}
.footer_mobo {
    display: block !important;
    border: 0 !important;
}
} */



@media (max-width: 430px) {
    .logo_addj{
        display: block !important;
    }
    .logo_addjjj{
        display: none !important;
    } 
}
@media (max-width: 768px) {
    .sponcer_logo_desk{
        display: none !important;
    }
    /* .navbar-brand img{
        height: 40px !important;
        width: 90px !important;
    } */
    header .text_part{
        margin-top: 50px !important;
    }
    .carousel-inner h1{
        font-size: 35px !important;
        font-weight: bold;
    }
    .carousel-inner p{
        font-size: 13px !important;
        font-weight: 400 !important ;
    
    }
    .carousel-inner button{
        font-size: 16px !important;
        font-weight: bold !important ;
        padding: 10px 30px !important;
        background-color: #0097A9;
        border: none !important;
        border-radius: 10px ;
        color: white !important;
    }
    .flex_div p{
        font-size: 18px;
        font-weight: bold;
        font-family: 'Mulish', sans-serif;
    }
    .text_s u{
        font-size: 14px;
        font-weight: 600;
        font-family: 'Mulish', sans-serif;
    }
.Recruitment{
    font-size: 15px !important;
    color: #504F4F !important;
    font-weight: bolder;

}
.email, .right_arrow{
    display: none;
}
header{
    background-color: #061E34;
    padding-bottom: 0px ;
}
header .back_img{
    background-image: url(../img/Frame.png);
    height: 400px !important;
    justify-content: end  !important;
    position: relative;
    background-size: 100% 100% !important;
   width: 100% !important;
    
}
.mobile_ve1{
    /* overflow: hidden!important; */
    position: relative;
    justify-content: start !important;
    min-width: 100% !important;
    
    
    
}
.person_img img{
    margin-left:0px !important;
    margin-top:0px ;
    height: 350px !important;
    width: 400px;
    background-size:cover!important;
    position: relative !important;
    justify-content: start !important;

}
.back_img{
    margin-right: -100px;
    width: 100% !important;
}

.carousel-indicators{
    display: none;
}
.product_sec{
    display: none;
}
.product_sec_mobo{
    display: block !important;
}
.all_pro_desk, .shop_all_product{
    display: none !important;
}
.all_product_mobo_view{
    display: block !important;
    padding-top: -30px !important;
}
.all_proud{
    display: none !important;
}
.mobo_version{
    display: none !important;
}
.mobo_version1{
    display: none !important;
}
.sponcer_mobo {
    display:block !important;
}
.sopncer_logo img{
      display: none !important;  
}
footer{
    display: none !important;
}
 
 .footer_mobo {
    display: block !important;
    border: 0 !important;
}
.footer_mobo .card-header{
    border: 0 !important;
}

/* bannder part */
.inner_text_banner h1{
    font-size: 22px;
    font-weight: bolder;
    padding-top: 15px;
}
.part2_acco #accordion .card p{
    color: #061E34 !important;
    font-size: 16px !important;
    font-weight: bold !important;
}
.inner_text_use3 h1{
    font-size: 22px;
    font-weight: bolder;
    padding-top: 15px;
    color: #061E34;
}
.inner_text_use3 p{
    font-size: 14px;
    padding-top: 5px;
    font-weight: 400;
    color: #061E34;
}
.inner_text h1{
    font-size: 22px;
    font-weight: bolder;
    padding-top: 15px;
    font-family: 'Mulish', sans-serif !important;
}
.inner_text_use h1{
    font-size: 22px;
    font-weight:bolder;
    padding-top: 15px;
}
.inner_text h1{
    font-size: 22px;
    font-weight: bold;
    padding-top: 15px;
    font-family: 'Mulish', sans-serif !important;
    text-align: center !important;
}
.inner_text h2{
    font-size: 14px;
    font-weight: 400;
    padding-top: 15px;
    font-family: 'Mulish', sans-serif !important;
    text-align: center !important;
}
.inner_text p{
    font-size: 14px;
    padding-top: 15px;
    font-weight: 400;
    text-align: center !important;
}
.why_use_buttn{
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}
.why_use_buttn button{
    background-color: #0097A9 !important;
    color: white !important;
    justify-content: center !important;
}
.why_should_mobo{
    display: block !important;
}
.why_should{
    display: none !important;
}
.shop_all_product1 h1{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif !important;

}
.shop_all_product1 p{
    font-size: 14px;
    font-weight:400;
    padding-top: 15px;
}
.sce_head .dropdown p{
    text-decoration: none !important;
    color: #504F4F;
     font-size: 14px;
     font-weight: 400;
     font-family: 'Mulish', sans-serif;
}
.sce_head{
    background-color: #061E34 !important;
     height: 42px;
     width: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     
 }
 .email_mobo img{
     display: none !important;
 }
 .top_head{
     height: 20px !important;
 }
 .top_head p{
     display: none !important;
 }
 .lower-footer p{
    font-size: 16px ;
    font-weight: 400px;
    color: white;
    padding: 30px !important;
}
.free_rec{
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}
.img-box img{
    padding: 20px !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    background-color: #F6F6F6;
   
}
.para_part p{
    font-size: 16px !important;
    font-weight: 600px !important;
}
footer p a{
    text-decoration: none;
    font-size: 10px;
    font-weight: normal;
    color: white;
}
footer p {
    text-decoration: none;
    font-size: 10px;
    font-weight: normal;
    color: white;
}
footer h3{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
}


}



@media (max-width:1190px) {
    .hidden_for_tab{
        display: none !important;
    }
    header .text_part{
        margin-top: 50px !important;
    }
    header{
        background-color: #061E34;
       padding-bottom: 0px !important;
        
    }
    header .back_img{
        background-image: url(../img/Frame.png);
        height: 500px !important;
        max-width: 300px !important ;
        background-size: cover;
        padding-bottom: 0px !important;
        
      
    }
    .mobile_ve1{
        
    }
    .back_img{
        margin-right: -100px;
        width: 100% !important;
        margin-top: 20px;
    }
    .person_img img{
        margin-left:-200px;
        margin-top:0px ;
        height: 500px !important;
        width: 600px;
        background-size: cover !important;
    
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .icon_part img {
        display: block !important;
    }
    header .text_part{
        margin-top: 50px !important;
    }
    .carousel-inner h1{
        font-size: 35px !important;
        font-weight: bold;
    }
    .carousel-inner p{
        font-size: 13px !important;
        font-weight: 400 !important ;
    
    }
    .carousel-inner button{
        font-size: 16px !important;
        font-weight: bold !important ;
        padding: 10px 30px !important;
        background-color: #0097A9;
        border: none !important;
        border-radius: 10px ;
        color: white !important;
    }
    .flex_div p{
        font-size: 18px;
        font-weight: bold;
        font-family: 'Mulish', sans-serif;
    }
    .text_s u{
        font-size: 14px;
        font-weight: 600;
        font-family: 'Mulish', sans-serif;
    }
.Recruitment{
    font-size: 15px !important;
    color: #504F4F !important;
    font-weight: bolder;

}

footer{
    display: none !important;
}
.footer_mobo {
    display: block !important;
    border: 0 !important;
}
.footer_mobo .card-header{
    border: 0 !important;
}
.sce_head p a{
    text-decoration: none !important;
    color: #504F4F;
     font-size: 12px;
     font-weight: 600;
     font-family: 'Mulish', sans-serif;
     
 }
 .inner_text_use h1 {
    font-size: 20px;
    font-weight: 800;
    padding-top: 15px;
}
.navbar-nav li a {
    color: white !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    font-family: 'Mulish', sans-serif;
}
.dropdown-menu li a{
    color: #572e2e !important;
    font-size: 15px !important;
}

.dropdown-menu li:hover {
    color: #d1b9b9 !important;
    border-left: 5px solid red !important;
}
.dropdown-menu li a:hover {
   color: black !important;
}
}