*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333333;
}
                             /* nav ber and logo start */
.logoset1{
    display: none !important;
}
.colorset_nav{
    background-color: #333333 !important;
}
.nav-item a{
  margin: 20px  !important;
   color: whitesmoke !important;
   justify-content: space-between;
   font-family: 'Girassol', cursive;
   font-size: 20px !important;
}
.nav-item a:hover{
    color: #cc9900 !important;
}
.dropdown-menu a{
    margin: auto auto !important;
    color: whitesmoke !important;
}
.nav-link active {
    color: #cc9900 !important;
}
.navbar-toggler{
    color: yellowgreen !important;
    background-color: #e58f00 !important;
    height: 45px !important;
    border-radius: 30% !important;
}
/*                nav ber and logo end */
                            

                       /* header part start */

.head_back img{
    /* height: auto!important;
    max-width: 100% !important;
     filter: blur(5px);
    -webkit-filter: blur(5px); */
}
.head_adjust{
    justify-content: center !important;
    align-items: center !important;
    height: auto !important;   
}
.text-color-change{
    color: #e58f00 !important;
    font-size: 35px auto;
    font-weight: bold;
    font-family: 'Goblin One', cursive;
}
.btn-change{
    background-color: #e58f00 !important;
    color: #fff !important;
}

                  /* header part end */

                  /* aboutus part start */
.aboutus{
    background-color: #1d1d23;
}
.aboutus img{
    border-bottom: 1px solid #e58f00;
}
.aboutus_text1{
    font-family: 'Lobster', cursive;
}
.texttt{
   padding-top: 20%;
    margin-left: 17%;
}
.texttt h1{
    font-family: 'Goblin One', cursive;
}
.background_part{
    background-image:url(img/aboutus_img2.png);
    width: 100%;
    background-position: center center;
    background-size: 100% 100%;
    height:120vh  !important;
}



                  /* aboutus part end */



                  /* our gallery start */
 .our_gallery{
  background:#1d1d23;
 }
                 
.our_gallery img{
    border-bottom: 2px solid #e58f00;
    opacity: 0.5;
    transition:ease .5s;
    cursor: pointer;
}
.our_gallery img:hover{
    border-bottom: 2px solid #c202f1;
    border-right:2px solid #c202f1 ;
    opacity: 1;
   
}
.our_gallery h1{
    font-family: 'Goblin One', cursive;
}
        /* our gallery end */
.div_part_bg{
    background-image: url(img/part_done1.png);
    background-position: center center;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}

.card1{
    align-items: center !important;
    justify-content: center !important;
    padding-top: 50% !important;
    background-color: #1f1f25 !important;
    border: 4px solid #e58f00 !important;
}
.cardmodify{
    padding-top: 170px;
}
.cardmodify h1{
    font-family: 'Goblin One', cursive;
    font-size: 30px;
}
        /* our manu slider start */
.our_menu{
    background-color: #1d1d23;
    height: auto;
    width: auto;
    padding-bottom: 50px !important;
}
.our_menu h1{
    font-family: 'Goblin One', cursive;
    font-size: 30px;
    
}
.card-body{
    background-color: #1d1d23 !important;
}
.card-body h5{
    color: #e58f00 !important;
    font-size: 15px;
    font-family:'Goblin One', cursive;;
}
.card-body h3{
    color: #e58f00 !important;
    font-size: 12px;
    font-family:'Goblin One', cursive;;
}
.card-body p{
    font-size: 12px;
    color: #fff !important;
}
.carousel-item .card{
   border: none  !important;
    outline: none !important;
}
.meal_back{
    width: 100%;
    height: auto;
    background-color: #1f1f25;
    background-attachment: fixed;
}
.meal_back:hover{
    background-color: #e58f00;
    
}
.meal h1{
    font-size:;
    font-family:'Goblin One', cursive; 
}

.meal p{
    font-size: 25px ;
    font-family: 'Courier New', Courier, monospace;
}

        /* our manu slider end */
 .footer_link ul li a{
  text-decoration: none !important;
  color: white;
  }
  .footer_link ul li a:hover{
    text-decoration: none !important;
    color: #e58f00;
    }
  .footer_link ul li{
      list-style: none;
      margin-left: 20px !important;
      margin-top: 10px !important;
     

  }
footer{
    background-color: #35353b !important;
}





@media (max-width: 768px) {
    .logoset{
        display: none !important;
    }
    .logoset1{
        display: block !important;
        margin: auto !important;
        height: 50px !important;
        width: auto !important;
    
    }
    .nav-item a{
  margin: 1px  !important;
  font-size: 15px !important;
    }
.text-color-change{
    color: #e58f00 !important;
    font-size: 15px ;
    font-weight: bold;
    font-family: 'Goblin One', cursive;
}
.text-color-change1{
    font-size: 10px ;
    font-family: 'Lobster', cursive;
    
}
.btn-change{
    background-color: #e58f00 !important;
    color: #fff !important;
    font-size: 10px !important;
}
.head_adjust{
    justify-content: center !important;
    align-items: center !important;
    height: auto !important;  
     
}
.aboutus_text1{
    font-family: 'Lobster', cursive;
    align-items: center !important;
    text-align: center !important;
    padding-top: 15px !important;
}
.aboutus_text2{
    font-family: 'Lobster', cursive;
    align-items: center !important;
    text-align: center !important;
    padding-top: 10px !important;
}
.texttt{
    margin-left: 7%;
    padding-top: 40%;
}
.texttt h1{
    font-family: 'Goblin One', cursive;
    font-size: 15px;
}
.texttt p{
    font-family: 'Goblin One', cursive;
    font-size: 8px;
    width: 60% !important;
    
}
.background_part{
    background-image:url(img/aboutus_img2.png);
    width: 100%;
    background-position: center center;
    background-size: 100% 100%;
    height:100vh  !important;
}

.our_gallery h1{
    font-family: 'Goblin One', cursive;
    font-size: 15px;
}
.div_part_bg{
    background-image: url(img/part_done1.png);
    background-position: center center;
    background-size: 100% 100%;
    height: 55vh;
    width: 100%;
}

.card1{
    align-items: center !important;
    justify-content: center !important;
   
    background-color: #1f1f25 !important;
    border: 4px solid #e58f00 !important;
    max-width: 15rem !important;
    max-height: 15rem !important;
}
.cardmodify{
    padding-top: 65px;
}
.cardmodify h1{
    font-family: 'Goblin One', cursive;
    font-size: 15px !important;
}
.cardmodify p{
    font-family: 'Goblin One', cursive;
    font-size: 8px !important;
}

        /* our manu slider start */
        .card-body h5{
            color: #e58f00 !important;
            font-size: 12px;
            font-family:'Goblin One', cursive;;
        }
        .card-body h3{
            color: #e58f00 !important;
            font-size: 10px;
            font-family:'Goblin One', cursive;;
        }
        .card-body p{
            font-size: 12px;
        }
        .our_menu h1{
            font-family: 'Goblin One', cursive;
            font-size: 20px;
            
        }
                /* our manu slider end */

                .meal h1{
                    font-size:15px;
                    font-family:'Goblin One', cursive;;
                }
                .meal p{
                    font-size: 12px ;
                    font-family: 'Courier New', Courier, monospace;
                }

                .footer_link ul li a{
                    text-decoration: none !important;
                    color: white;
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 10px;
                    }
                    .footer_link ul li{
                        list-style: none;
                        margin-left: 5px !important;
                    }
.footer_link ul{
    margin-left: -35px !important;
}
.footer_icon img{
    max-width: 25px !important;
}


@media (max-width: 576px) {
.img_set{
    margin-top: 20px !important;
}
.texttt{
    padding-top: 60%;
 }
 .meal h1{
    font-size:11px;
    font-family:'Goblin One', cursive;
    padding-top: 10px !important;
}